<div class="shorten-background">
  <div class="container">
    <div class="center" id="shorten-form">
      <div class="title">
        <h1>Shorten the URL</h1>
      </div>
      <div class="form">
        <%= render 'urls/form', url: @url %>
      </div>
    </div>

    <div id="shortened_url" class="center">Test Text</div>
  </div>
</div>

<div class="ranking-background">
  <div class="container">
    <h2>Top 100 URLs</h2>

    <ol>
      <%= render partial: 'urls/top100', collection: @urls, as: :url  %>
    </ol>
  </div>
</div>
