html, body {
  height: 100%;
}

footer, .push {
  height: 155px;
}

footer {
  background: #2c3e50;
  margin-top: 50px;
}

.ranking-background {
  margin-bottom: -155px;
}

.create-header {
  padding-top: 20px;
  font-size: 14px;
  color: #bdc3c7;
}

.creator {
  padding-top: 15px;
  font-size: 16px;
  color: #bdc3c7;
}

.icon,
.icon > li {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.icon > li {
  padding-right: 7px;
}

.icon a,
.icon a:link,
.icon a:visited,
.icon a:hover,
.icon a:active {
  color: #bdc3c7;
  text-decoration: none;
}