.center {
  margin: 0 auto;
  text-align: center;
}

#shorten-form {
  margin-top: 65px;
}

span.form-addon {
  font-size: 18px;
}

.title {
  padding-bottom: 25px;
  color: #34495e;
  font-weight: bolder;
}

.shorten-background {
  background: #1abc9c;
  height: calc(100vh - 50px);
}

#shortened_url {

}