<div class="push"></div>
<footer id="page-footer">
    <div class="create-header">
        <center>Created By</center>
    </div>
    <div class="creator center">
        <p id="creator-name">Seiji Naganuma</p>
        <ul class="icon">
            <li><a target="_blank" class="fui-github" href="https://github.com/snags88"></a></li>
            <li><a target="_blank" class="fui-linkedin" href="https://www.linkedin.com/in/snaganuma"></a></li>
        </ul>
    </div>
</footer>
