<nav class="navbar navbar-inverse no-b-radius">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Shawty // A URL shortner", root_path, :class => "navbar-brand" %>
    </div>
  </div>
</nav>